.icon-input--icon-container {
  width: 80px;
  cursor: pointer;
}
.hide {
  display: none;
}

.icon-input--icon {
  width: 100%;
  filter: invert(0%) sepia(2%) saturate(0%) hue-rotate(146deg) brightness(92%)
    contrast(101%);
}

.hide:checked + .icon-input--icon-container .icon-input--icon {
  filter: none;
}

.icon-input--icon-name {
  font-family: luckiestguy, sans-serif;
  color: var(--primary-color);
  text-align: center;
}

.icon-input--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 98px;
}

.icon-input--icon-container:hover + .icon-input--icon-name {
  text-decoration: underline;
}
