.forgot-password--container {
  background: var(--emphasis-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  gap: 10px;
}

.forgot-password--message {
  height: 20px;
  text-align: center;
  font-family: poppins, sans-serif;
  color: var(--primary-color);
}
