.button {
  background-color: var(--vibrant-color-primary);
  color: var(--neutral-color);
  border: none;
  border-radius: 50px;
  height: 48px;
  font-family: luckiestguy, sans-serif;
  width: 100%;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  box-shadow: 2px 2px 10px 0 var(--vibrant-color-primary);
}
