.status-display--status-container {
  display: flex;
  align-items: center;
  position: relative;
  background: var(--primary-color-emphasis);
  border-radius: 10px;
  justify-content: center;
}

.status-display--icon {
  position: absolute;
  left: -30px;
}

.status-display--status-name {
  font-family: luckiestguy, sans-serif;
  color: #ffc70d;
  font-size: 13px;
  text-align: center;
}

.status-display--status-value {
  font-family: luckiestguy, sans-serif;
  color: var(--neutral-color);
  font-size: 16px;
}
